html {
	background: linear-gradient(rgb(10, 10, 10), rgb(87, 87, 87)) fixed;
	padding-bottom: 400px;
}
body {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #7b7b7b;
	color: #eee;
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(66, 66, 66);
	padding: 10px;
	 }

h2,h3,h4 {
	text-align: center;
	font-family: monospace;
	 }
h1 {
	text-align:	center;
	font-size: 48px;
	text-shadow: 3px 0 black, 3px 3px black, 0 3px black;
	}

a { color: #eee; text-decoration: none; 
	font-family: monospace;
	}

.image {
	margin: auto;
}
pre {
	border: 3px solid #928374;
	padding: 5px;
	display: block;
	background: #1d2021;
}
code {
	color: #b8bb26;
	overflow-x: auto;
	background: #1d2021;
}
p {
	font-family: monospace;
}
